html {
  font-size: 62.5%;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  color: $black;
}

body {
  min-height: 100%;
  width: 100%;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2rem;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}
